In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'C:\Users\Administrator\Desktop\data.xlsx')
data.head()

,YEAR,X1,Unnamed: 2,Unnamed: 3,X2,Unnamed: 5,Unnamed: 6,X3,Unnamed: 8,Unnamed: 9,...,X8,Unnamed: 22,X8.1,Unnamed: 24,X9,Unnamed: 26,X9.1,Unnamed: 28,X10,Unnamed: 30
0,2010,6697.39,NaN,NaN,463.65,NaN,NaN,1587.81,NaN,NaN,...,1637.0,NaN,3241.50,NaN,6482.28,NaN,241.86,NaN,3250.56,NaN
1,2011,8238.88,6697.390000,123.02,633.96,463.650000,NaN,1768.52,1587.810000,NaN,...,1966.0,1637.000000,3864.21,3241.500000,7564.93,6482.280000,318.55,241.860000,3346.26,3250.560000
2,2012,9893.11,8161.805500,121.21,1063.70,625.444500,NaN,1532.90,1759.484500,NaN,...,2263.9,1949.550000,4366.10,3833.074500,8635.22,7510.797500,396.96,314.715500,4243.43,3341.475000
3,2013,10297.63,9806.544775,105.01,795.35,1041.787225,NaN,1632.85,1544.229225,NaN,...,2548.0,2248.182500,4884.13,4339.448725,10023.63,8578.998875,501.98,392.847775,5134.56,4198.332250
4,2014,12332.19,10273.075739,120.04,1514.14,807.671861,NaN,1696.39,1628.418961,NaN,...,3093.9,2533.009125,5492.64,4856.895936,11668.14,9951.398444,583.79,496.523389,5903.98,5087.748613